@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* home top section  */
.home-section {
    height: 100vh;
    background-image: url("../../assets/images/bg-image.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-section::after {
    /* Adding overlay effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Semi-transparent black overlay */
    backdrop-filter: blur(0px);
    /* Adding blur effect */
}

.home-content {
    width: 40vw;
    position: absolute;
    top: 56%;
    left: 26%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.home-content h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
    padding-bottom: .3rem;
}

.home-content h3 {
    color: rgb(240, 236, 236);
    font-weight: bold;
    font-size: 20px;
    padding-bottom: .3rem;
}

.home-content p {
    color: rgb(240, 236, 236);
    font-size: 18px;

}

.home-content-btn {
    margin-top: 4rem;
}

.services-section {
    background-color: #eef6fd;
    padding: 5rem 0;
}

.services-section h2,
.portfolio-section h1,
.get-in-touch-section h2,
.our-clients h2,
.about-us-section h1 {
    color: #274D82;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: sans-serif;
}

/* portfolio section  */
.portfolio-section {
    padding: 5rem 4rem;
}

.portfolio-section h5,
.get-in-touch-section p,
.our-clients p,
.about-us-section p {
    font-size: 1.2rem;
    text-align: center;
}

 
.portfolio {
    position: relative;
    width: 40%;
    height: 500px;
    overflow: hidden;
}

/* Get in Touch section styles */
.get-in-touch-section {
    text-align: center;
    padding: 5rem .8rem;
}


.get-in-touch-section-service {
    background-color: #eef6fd;
}


/* home section media quereies  */
@media only screen and (max-width: 950px) {
    .home-content {
        width: 90%;
        left: 48%;
    }
    .portfolio-section {
        padding: 5rem 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .home-content {
        width: 100%;
        left: 50%;
        top: 60%;
        padding: 0 1.5rem;
    }

    .home-content h1 {
        font-size: 35px;
    }

    .home-content h3 {
        font-size: 18px;
    }

    .home-content p {
        font-size: 16px;
    }

    .services-section h2,
    .portfolio-section h1,
    .get-in-touch-section h2,
    .our-clients h2,
    .about-us-section h1 {
        font-size: 1.8rem;
    }

    .portfolio-section h5,
    .get-in-touch-section p,
    .our-clients p,
    .about-us-section p {
        font-size: 1rem;
        padding: 0 1rem;
    }
    .services-section {
        background-color: #eef6fd;
        padding: 5rem 0;
    }
    
}

@media only screen and (max-width: 767px) {
    .portfolio {
        position: relative;
        width: 100%;
        height: 450px;
        overflow: hidden;
        margin: 2.5rem auto;
    }
}